<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{bookName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name Error</div>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Age Error</div>
    <br/>
    <label for="year_of_production">Введите год выпуска: </label>
    <input type="text" th:field="*{yearOfProduction}" id="year_of_production"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}">Age Error</div>
    <br/>
    <br/>
    <input type="submit" value="Редактировать"/>
</form>

</body>
</html>