<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}">VALUE</p>
<hr>

<div th:if="${owner==null}">
    <a>Книга свободна, кому её назначить?</a>
    <form th:method="POST" th:action="@{/books/{id}/set(id=${book.getBookId()})}">
        <label for="person">Выберете человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>

<div th:unless="${owner==null}">
    <p th:text="${'Книга сейчас у: ' + owner.name}">owner</p>
    <form th:method="DELETE" th:action="@{/books/{id}/free(id=${book.getBookId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<br>
<hr>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>